<div class="row">
    <h1>Logros y premios</h1>
    <div class="col-lg-1"></div>
    <div class="col-lg-11">
        <ul>
            <li>
                <h1>Premio "Orgullo Tucumano"</h1> - <h3>2018</h3>
                <p>Otorgado por el ministerio de educacion de la provincia de Tucumán</p>
            </li>
            <li>
                <h1>Olimpiadas Nacionales de Biología</h1> - <h3>2017</h3>
                <p>Séptimo lugar</p>
            </li>
            <li>
                <h1>Concurso de cortos provincial de estudiantes secundarios de Tucumán</h1> - <h3>2017</h3>
                <p>Primer lugar</p>
            </li>
            <li>
                <h1>Olimpiadas Iberoamericanas de biología</h1> - <h3>2018</h3>
                <p>Integrante del equipo nacional</p>
            </li>

            <li>
                <h1>Articulos publicados en revista "CHASQUI"</h1> - <h3>2019</h3>
                <p>2 articulos publicados para la edicion 98º de la revista</p>
            </li>

            <li>
                <h1>Jefe de enfermeria</h1> - <h3>2019</h3>
                <p>Durante el campamento Gymnasium realizado ese año</p>
            </li>

            <li>
                <h1>Staff organizador "Anime Gymnas"</h1> - <h3>2019</h3>
                <p>Edicion XI</p>
            </li>
        </ul>

    </div>
</div>