<div class="row">
    <div class="col-xs-12 col-sm-2 col-md-2 col-lg-2">
        <img src="../../../assets/fotoPerfil.jpg" class="img-fluid">
    </div>
    <div class="col-xs-12 col-sm-2 col-md-2 col-lg-2">
        <p id="nombre">Jimenez Eneas Simón</p>
        <p>Aka: Saimon</p>
        <p>Full Stack Dev Jr.</p>
    </div>
    <div class="col-xs-12 col-sm-8 col-md-8 col-lg-8" style="text-align: center;">
        <span>
            <h2>Un poco de mi:</h2>
            <p id="descripcion">
                Lorem ipsum dolor, sit amet consectetur adipisicing elit. Necessitatibus totam iusto eum adipisci
                voluptas tenetur aspernatur numquam libero perspiciatis id, ea quas asperiores itaque possimus ut dolor
                molestiae quia quam.
            </p>

        </span>
    </div>
</div>