
<div class="row">
    <div class="col-xs-12 col-sm-2 col-md-2 col-lg-2">
        
        <img src="../../../assets/fotoPerfil.jpg" class="img-fluid" id="fotoPerfil">
    </div>
    <div class="col-lg-1"></div>
    <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4" id="info">
        <div class="card">
            <p><span>Jimenez Eneas Simón</span></p>
            <p><span>Aka: Saimon</span></p>
            <p><span>Full Stack Dev Jr.</span></p>
        </div>



    </div>
    <div class="col-lg-1"></div>
    <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4" style="text-align: center;" id="descripcion">
        <div class="flip">
            <div class="content">
                <div class="front">
                    
                    <h2>Un poco de mi:</h2>
                    
                </div>
                <div class="back">
                    
                    <p>Soy un desarrollador en constante proceso de aprendizaje, aprendiendo tanto de metodos y lenguajes como de fuentes para obtener recursos y herramientas</p>                
                </div>
            </div>
        </div>
    </div>
</div>