<div class="row">
    <h1>Educacion</h1>
    <div class="col-lg-1"></div>
    <div class="col-lg-11">
        <ul>
            <li>
                <h1>Egresado Colegio Gymnasium U.N.T.</h1> - <h3>2019</h3>
                <p>Titulo secundario, con promedio 7.63</p>
            </li>
            <li>
                <h1>Egresado ATICANA</h1> - <h3>2015</h3>
                <p>Instituto de inglés</p>
            </li>
            <li>
                <h1>Reanimación Cardiopulmonar</h1> - <h3>2019</h3>
                <p>Curso realizado para enfermeria de campamento Gymnasium</p>
            </li>
            <li>
                <h1>Egresado Argentina Programa</h1> - <h3>En progreso...</h3>
                <p>Plan nacional para generar Fullstack Devs.</p>
            </li>

            <li>
                <h1>Tecnico superior en criminalistica</h1> - <h3>En progreso...</h3>
                <p>Realizado en el colegio Almafuerte</p>
            </li>

            <li>
                <h1>Ingeniero Biomédico</h1> - <h3>En progreso...</h3>
                <p>Realizado en la facultad de ciencias exactas perteneciente a la Universidad Nacional de Tucumán</p>
            </li>

        </ul>

    </div>
</div>