<div class="row">
    <h1>Hard & Soft skills</h1>
    <div class="text-center col-sm-4 col-md-4 col-lg-3">
        <circle-progress id="Html" [percent]="50" [title]="'placeholder'" [radius]="100" [outerStrokeWidth]="16"
            [innerStrokeWidth]="8" [outerStrokeColor]="'#78C000'" [innerStrokeColor]="'#C7E596'" [animation]="true"
            [lazy]="true" [imageSrc]="'../assets/html.png'" [showImage]="true" [imageWidth]="80" [imageHeight]="80"
            [animationDuration]="700" [titleFontSize]="'1em'">


        </circle-progress>
    </div>

    <div class="text-center col-sm-4 col-md-4 col-lg-3">
        <circle-progress id="Html" [percent]="50" [title]="'placeholder'" [radius]="100" [outerStrokeWidth]="16"
            [innerStrokeWidth]="8" [outerStrokeColor]="'#78C000'" [innerStrokeColor]="'#C7E596'" [animation]="true"
            [lazy]="true" [imageSrc]="'../assets/js.png'" [imageWidth]="80" [imageHeight]="80" [animationDuration]="700"
            [titleFontSize]="'1em'" [showImage]="true">


        </circle-progress>
    </div>

    <div class="text-center col-sm-4 col-md-4 col-lg-3">
        <circle-progress id="Html" [percent]="50" [title]="'placeholder'" [radius]="100" [outerStrokeWidth]="16"
            [innerStrokeWidth]="8" [outerStrokeColor]="'#78C000'" [innerStrokeColor]="'#C7E596'" [animation]="true"
            [lazy]="true" [imageSrc]="'../assets/CSS.png'" [imageWidth]="80" [imageHeight]="80"
            [animationDuration]="700" [titleFontSize]="'1em'" [showImage]="true">

        </circle-progress>
    </div>


<div class="text-center col-sm-4 col-md-4 col-lg-3">
    <circle-progress id="Html" [percent]="50" [title]="'placeholder'" [radius]="100" [outerStrokeWidth]="16"
        [innerStrokeWidth]="8" [outerStrokeColor]="'#78C000'" [innerStrokeColor]="'#C7E596'" [animation]="true"
        [lazy]="true" [imageSrc]="'../assets/C.png'" [imageWidth]="80" [imageHeight]="80" [animationDuration]="700"
        [titleFontSize]="'1em'" [showImage]="true">

    </circle-progress>
</div>


<div class="text-center col-sm-4 col-md-4 col-lg-3">
    <circle-progress id="Html" [percent]="50" [title]="'placeholder'" [radius]="100" [outerStrokeWidth]="16"
        [innerStrokeWidth]="8" [outerStrokeColor]="'#78C000'" [innerStrokeColor]="'#C7E596'" [animation]="true"
        [lazy]="true" [imageSrc]="'../assets/ts.png'" [imageWidth]="80" [imageHeight]="80" [animationDuration]="700"
        [titleFontSize]="'1em'" [showImage]="true">

    </circle-progress>
</div>

<div class="text-center col-sm-4 col-md-4 col-lg-3">
    <circle-progress id="Html" [percent]="50" [title]="'placeholder'" [radius]="100" [outerStrokeWidth]="16"
        [innerStrokeWidth]="8" [outerStrokeColor]="'#78C000'" [innerStrokeColor]="'#C7E596'" [animation]="true"
        [lazy]="true" [imageSrc]="'../assets/github_logo.png'" [imageWidth]="80" [imageHeight]="80" [animationDuration]="700"
        [titleFontSize]="'1em'" [showImage]="true">

    </circle-progress>
</div>


<div class="text-center col-sm-4 col-md-4 col-lg-3">
    <circle-progress id="Html" [percent]="50" [title]="'placeholder'" [radius]="100" [outerStrokeWidth]="16"
        [innerStrokeWidth]="8" [outerStrokeColor]="'#78C000'" [innerStrokeColor]="'#C7E596'" [animation]="true"
        [lazy]="true" [imageSrc]="'../assets/angular.png'" [imageWidth]="80" [imageHeight]="80" [animationDuration]="700"
        [titleFontSize]="'1em'" [showImage]="true">

    </circle-progress>
</div>



<div class="text-center col-sm-4 col-md-4 col-lg-3">
    <circle-progress id="Html" [percent]="50" [title]="'placeholder'" [radius]="100" [outerStrokeWidth]="16"
        [innerStrokeWidth]="8" [outerStrokeColor]="'#78C000'" [innerStrokeColor]="'#C7E596'" [animation]="true"
        [lazy]="true" [imageSrc]="'../assets/mysql.png'" [imageWidth]="80" [imageHeight]="80" [animationDuration]="700"
        [titleFontSize]="'1em'" [showImage]="true">

    </circle-progress>
</div>




<div class="text-center col-sm-4 col-md-4 col-lg-3">
    <circle-progress id="Html" [percent]="50" [title]="'placeholder'" [radius]="100" [outerStrokeWidth]="16"
        [innerStrokeWidth]="8" [outerStrokeColor]="'#78C000'" [innerStrokeColor]="'#C7E596'" [animation]="true"
        [lazy]="true" [imageSrc]="'../assets/bootstrap.png'" [imageWidth]="80" [imageHeight]="80" [animationDuration]="700"
        [titleFontSize]="'1em'" [showImage]="true">

    </circle-progress>
</div>



<div class="text-center col-sm-4 col-md-4 col-lg-3">
    <circle-progress id="Html" [percent]="50" [title]="'placeholder'" [radius]="100" [outerStrokeWidth]="16"
        [innerStrokeWidth]="8" [outerStrokeColor]="'#78C000'" [innerStrokeColor]="'#C7E596'" [animation]="true"
        [lazy]="true" [imageSrc]="'../assets/photoshop.png'" [imageWidth]="80" [imageHeight]="80" [animationDuration]="700"
        [titleFontSize]="'1em'" [showImage]="true">

    </circle-progress>
</div>



<div class="text-center col-sm-4 col-md-4 col-lg-3">
    <circle-progress id="Html" [percent]="50" [title]="'placeholder'" [radius]="100" [outerStrokeWidth]="16"
        [innerStrokeWidth]="8" [outerStrokeColor]="'#78C000'" [innerStrokeColor]="'#C7E596'" [animation]="true"
        [lazy]="true" [imageSrc]="'../assets/word.png'" [imageWidth]="80" [imageHeight]="80" [animationDuration]="700"
        [titleFontSize]="'1em'" [showImage]="true">

    </circle-progress>
</div>



<div class="text-center col-sm-4 col-md-4 col-lg-3">
    <circle-progress id="Html" [percent]="50" [title]="'placeholder'" [radius]="100" [outerStrokeWidth]="16"
        [innerStrokeWidth]="8" [outerStrokeColor]="'#78C000'" [innerStrokeColor]="'#C7E596'" [animation]="true"
        [lazy]="true" [imageSrc]="'../assets/excel.png'" [imageWidth]="80" [imageHeight]="80" [animationDuration]="700"
        [titleFontSize]="'1em'" [showImage]="true">

    </circle-progress>
</div>



<div class="text-center col-sm-4 col-md-4 col-lg-3">
    <circle-progress id="Html" [percent]="50" [title]="'placeholder'" [radius]="100" [outerStrokeWidth]="16"
        [innerStrokeWidth]="8" [outerStrokeColor]="'#78C000'" [innerStrokeColor]="'#C7E596'" [animation]="true"
        [lazy]="true" [imageSrc]="'../assets/canva.png'" [imageWidth]="80" [imageHeight]="80" [animationDuration]="700"
        [titleFontSize]="'1em'" [showImage]="true">

    </circle-progress>
</div>



<div class="text-center col-sm-4 col-md-4 col-lg-3">
    <circle-progress id="Html" [percent]="50" [title]="'placeholder'" [radius]="100" [outerStrokeWidth]="16"
        [innerStrokeWidth]="8" [outerStrokeColor]="'#78C000'" [innerStrokeColor]="'#C7E596'" [animation]="true"
        [lazy]="true" [imageSrc]="'../assets/batocera.png'" [imageWidth]="80" [imageHeight]="80" [animationDuration]="700"
        [titleFontSize]="'1em'" [showImage]="true">

    </circle-progress>
</div>



<div class="text-center col-sm-4 col-md-4 col-lg-3">
    <circle-progress id="Html" [percent]="50" [title]="'placeholder'" [radius]="100" [outerStrokeWidth]="16"
        [innerStrokeWidth]="8" [outerStrokeColor]="'#78C000'" [innerStrokeColor]="'#C7E596'" [animation]="true"
        [lazy]="true" [imageSrc]="'../assets/ingles.png'" [imageWidth]="80" [imageHeight]="80" [animationDuration]="700"
        [titleFontSize]="'1em'" [showImage]="true">

    </circle-progress>
</div>

</div>
