<div class="row">
    <h1>Educacion</h1>
    <div class="col-lg-1"></div>
    <div class="col-lg-11">
        <ul>
            <li>
                <h1>Titulo 1</h1> - <h3>anioi-aniof</h3>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Saepe nemo repellendus eius pariatur tempore
                    consequatur? Similique expedita, hic est inventore facilis alias ad! Nesciunt assumenda quaerat
                    neque odit ad aliquid!</p>
            </li>
            <li>
                <h1>Titulo 2</h1> - <h3>anioi-aniof</h3>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Saepe nemo repellendus eius pariatur tempore
                    consequatur? Similique expedita, hic est inventore facilis alias ad! Nesciunt assumenda quaerat
                    neque odit ad aliquid!</p>
            </li>
            <li>
                <h1>Titulo 3</h1> - <h3>anioi-aniof</h3>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Saepe nemo repellendus eius pariatur tempore
                    consequatur? Similique expedita, hic est inventore facilis alias ad! Nesciunt assumenda quaerat
                    neque odit ad aliquid!</p>
            </li>
            <li>
                <h1>Titulo 4</h1> - <h3>anioi-aniof</h3>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Saepe nemo repellendus eius pariatur tempore
                    consequatur? Similique expedita, hic est inventore facilis alias ad! Nesciunt assumenda quaerat
                    neque odit ad aliquid!</p>
            </li>

        </ul>

    </div>
</div>